<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Anshu's App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="{{ url_for('static',filename='styles/styles.css') }}">
    </head>
    <body>
         <!-- <img src="static/1.png">  -->
         <!-- <img src="{ { rel_for('static' , filename='1.png' )} }">  -->
  <p> Hi this is anshu ranjan creating Flask app </p>
        <script src="" async defer></script>
    </body>
</html>